In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

from datetime import datetime

In [3]:
ac_data = "C:\\Users\\Laevskiy\\Desktop\\05-22\\merge104sortedbydate.xlsx"
chem_in = "C:\\Users\\Laevskiy\\Desktop\\05-22\\!chem –±–∞–∫–∏ –ø–∏—Ç–∞–Ω–∏—è.xlsx"
chem_out = "C:\\Users\\Laevskiy\\Desktop\\05-22\\!chem –æ–∫–∏—Å–ª–µ–Ω–Ω–∞—è –ø—É–ª—å–ø–∞.xlsx"
chem_fe2 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\!chem Fe2+.xlsx"

In [4]:
WORK_DIR = "C:\\Users\\Laevskiy\\Desktop\\05-22"

In [6]:
def file_save(df: pd.DataFrame, folder: str, name: str) -> None:
    comp = {
        'method': 'zip',
        'archive_name': 'out.csv'
    }

    filepath = Path(f'./{folder}/{name}.zip')

    df.to_csv(filepath, compression=comp)

## –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –î–∞–Ω–Ω—ã–µ –ê–°–£–¢–ü

In [7]:
df_ac = pd.read_excel(ac_data, index_col=1, parse_dates=True)
df_ac.drop("Unnamed: 0", axis=1, inplace=True)
df_ac.isna().sum()

320PU108M01           16
320PU222M01           16
320RC104DIC02         16
330AC104FI06          16
330AC104FI07          16
330AC104FI08          16
330AC104FI09          16
330AC104FI10          16
330AC104FI51          16
330AC104FI52          16
330AC104FIC40         16
330AC104FICZ01        16
330AC104FICZ02        16
330AC104FICZ03        16
330AC104FICZ04        16
330AC104FICZ05        16
330AC104LICZ01        16
330AC104LICZ01.1      16
330AC104LICZ01.2      16
330AC104PI64          16
330AC104PI65          16
330AC104PIC63A        16
330AC104PIC63A.1      16
330AC104PIZ6          16
330AC104TIC01         16
330AC104TIC02         16
330AC104TIC03         16
330AC104TIC04         16
330AC104TIC05         16
330AC104TIZ61         16
330PT107PIZ01         16
330TK107LIC01         16
330TK107PI11          16
330TK107TI03          16
330TK107TIC02         16
330TK108LIC01         16
330TK108PI02          16
330TK108TIC02         16
380HX107FIC01         16
380HX107LIC0          16
380HX107PIC03         16
OXYGEN/OxyPurity      16
 OXYGEN/OxyPurityB    16
dtype: int64

–£–±–µ—Ä–µ–º –ø—Ä–æ–ø—É—Å–∫–∏

In [8]:
df_ac.dropna(inplace=True)

–£—Å—Ä–µ–¥–Ω–∏–º –≤—Å–µ –¥–∞–Ω–Ω—ã–µ —Å 10 –º–∏–Ω—É—Ç–Ω—ã—Ö –¥–æ —á–∞—Å–æ–≤—ã—Ö. –î–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Å—Ç—ã–∫–æ–≤–∫–∏ —Å –¥–∞–Ω–Ω—ã–º–∏ –•–ê.

In [9]:
df_ac_1h = df_ac.resample('H').mean()

In [10]:
df_ac_1h.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26298 entries, 2019-01-01 00:00:00 to 2021-12-31 17:00:00
Freq: H
Data columns (total 43 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   320PU108M01         24623 non-null  float64
 1   320PU222M01         24623 non-null  float64
 2   320RC104DIC02       24623 non-null  float64
 3   330AC104FI06        24623 non-null  float64
 4   330AC104FI07        24623 non-null  float64
 5   330AC104FI08        24623 non-null  float64
 6   330AC104FI09        24623 non-null  float64
 7   330AC104FI10        24623 non-null  float64
 8   330AC104FI51        24623 non-null  float64
 9   330AC104FI52        24623 non-null  float64
 10  330AC104FIC40       24623 non-null  float64
 11  330AC104FICZ01      24623 non-null  float64
 12  330AC104FICZ02      24623 non-null  float64
 13  330AC104FICZ03      24623 non-null  float64
 14  330AC104FICZ04      24623 non-null  float64
 15  330AC104FICZ05      24623 non-null  float64
 16  330AC104LICZ01      24623 non-null  float64
 17  330AC104LICZ01.1    24623 non-null  float64
 18  330AC104LICZ01.2    24623 non-null  float64
 19  330AC104PI64        24623 non-null  float64
 20  330AC104PI65        24623 non-null  float64
 21  330AC104PIC63A      24623 non-null  float64
 22  330AC104PIC63A.1    24623 non-null  float64
 23  330AC104PIZ6        24623 non-null  float64
 24  330AC104TIC01       24623 non-null  float64
 25  330AC104TIC02       24623 non-null  float64
 26  330AC104TIC03       24623 non-null  float64
 27  330AC104TIC04       24623 non-null  float64
 28  330AC104TIC05       24623 non-null  float64
 29  330AC104TIZ61       24623 non-null  float64
 30  330PT107PIZ01       24623 non-null  float64
 31  330TK107LIC01       24623 non-null  float64
 32  330TK107PI11        24623 non-null  float64
 33  330TK107TI03        24623 non-null  float64
 34  330TK107TIC02       24623 non-null  float64
 35  330TK108LIC01       24623 non-null  float64
 36  330TK108PI02        24623 non-null  float64
 37  330TK108TIC02       24623 non-null  float64
 38  380HX107FIC01       24623 non-null  float64
 39  380HX107LIC0        24623 non-null  float64
 40  380HX107PIC03       24623 non-null  float64
 41  OXYGEN/OxyPurity    24623 non-null  float64
 42   OXYGEN/OxyPurityB  24623 non-null  float64
dtypes: float64(43)
memory usage: 8.8 MB

–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –¥–∞—Ç—ã –ø—Ä–æ–ø—É—â–µ–Ω—ã –≤ –¥–∞–Ω–Ω—ã—Ö, —É–±–µ—Ä–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –µ—â–µ —Ä–∞–∑.

In [11]:
df_ac_1h.dropna(inplace=True)

### –î–∞–Ω–Ω—ã–µ –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –•–ê –ø–æ –±–∞–∫–∞–º –ø–∏—Ç–∞–Ω–∏—è

In [12]:
df_chem_in = pd.read_excel(chem_in, index_col=0, parse_dates=True, usecols="B:H")
df_chem_in = df_chem_in.apply(pd.to_numeric, errors='coerce')
df_chem_in.fillna(0, inplace=True)

In [13]:
df_chem_in.head()

,320 RC-101 S Fe,320 RC-101 S S–æ–±—â,320 RC-101 S Sso42-,320 RC-101 S As,320 RC-101 S –°–æ—Ä–≥,320 RC-101 S –°–æ–±—â
Timestamp,,,,,,
2018-12-01 09:00:00,27.10,25.4,0.0,8.90,0.47,1.34
2018-12-02 09:00:00,25.99,26.9,0.0,7.95,0.50,1.33
2018-12-02 13:00:00,25.78,27.2,0.0,7.95,0.48,1.32
2018-12-02 17:00:00,26.71,26.2,0.0,8.38,0.43,1.22
2018-12-03 20:00:00,0.00,25.9,0.0,8.79,0.64,1.10

In [14]:
df_chem_in_1h = df_chem_in.resample('H', convention='start').first()
df_chem_in_1h.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 29075 entries, 2018-12-01 09:00:00 to 2022-03-26 19:00:00
Freq: H
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   320 RC-101 S Fe      1502 non-null   float64
 1   320 RC-101 S S–æ–±—â    1502 non-null   float64
 2   320 RC-101 S Sso42-  1502 non-null   float64
 3   320 RC-101 S As      1502 non-null   float64
 4   320 RC-101 S –°–æ—Ä–≥    1502 non-null   float64
 5   320 RC-101 S –°–æ–±—â    1502 non-null   float64
dtypes: float64(6)
memory usage: 1.6 MB

In [15]:
cols = ['Fe', 'Stot', 'SO4', 'As', 'Corg', 'Ctot']
df_chem_in_1h.columns = cols

–ü—Ä–∏–≤–µ–¥–µ–º –¥–∞—Ç—ã –º–∞—Å—Å–∏–≤–æ–≤ –∫ –æ–¥–Ω–æ–º—É –≤—Ä–µ–º–µ–Ω–∏. –í–æ–∑—å–º–µ–º –•–ê —Ç–æ–ª—å–∫–æ –∑–∞ —Ç–µ –¥–Ω–∏, —á—Ç–æ –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ê–°–£–¢–ü

In [16]:
min_date = datetime.fromisoformat('2019-01-01 00:00:00')
max_date = datetime.fromisoformat('2021-12-31 17:00:00')

df_chem_in_1h = df_chem_in_1h[min_date:max_date]

–£–±–µ—Ä–µ–º –Ω—É–ª–µ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∞ –≤–º–µ—Å—Ç–æ –Ω–∏—Ö –ø–æ—Å—Ç–∞–≤–∏–º np.nan

In [17]:
df_chem_in_1h.replace({0: np.NaN}, inplace=True)

### –î–∞–Ω–Ω—ã–µ –•–ê –ø–æ Fe2+

In [20]:
df_chem_fe2 = pd.read_excel(chem_fe2, index_col=0, parse_dates=True, usecols="B,F")
df_chem_fe2 = df_chem_fe2.apply(pd.to_numeric, errors='coerce')
df_chem_fe2.fillna(0, inplace=True)

In [21]:
df_chem_fe2_1h = df_chem_fe2.resample('H').first()
df_chem_fe2_1h.info()
df_chem_fe2_1h.head(400)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 29237 entries, 2018-11-29 15:00:00 to 2022-03-31 19:00:00
Freq: H
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   330-–¢–ö-108 L Fe2+  14781 non-null  float64
dtypes: float64(1)
memory usage: 456.8 KB

                     330-–¢–ö-108 L Fe2+
Timestamp
2018-11-29 15:00:00                0.0
2018-11-29 16:00:00                NaN
2018-11-29 17:00:00                NaN
2018-11-29 18:00:00                NaN
2018-11-29 19:00:00                NaN
...                                ...
2018-12-16 02:00:00                0.0
2018-12-16 03:00:00                NaN
2018-12-16 04:00:00                0.0
2018-12-16 05:00:00                NaN
2018-12-16 06:00:00                0.0

[400 rows x 1 columns]

In [22]:
df_chem_fe2_1h = df_chem_fe2_1h[min_date:max_date]
df_chem_fe2_1h.fillna(method='ffill', inplace=True)

In [23]:
cols = ['Fe2+']
df_chem_fe2_1h.columns = cols
df_chem_fe2_1h.tail(400)

                     Fe2+
Timestamp
2021-12-15 02:00:00  1.64
2021-12-15 03:00:00  1.52
2021-12-15 04:00:00  1.61
2021-12-15 05:00:00  1.67
2021-12-15 06:00:00  1.55
...                   ...
2021-12-31 13:00:00  1.51
2021-12-31 14:00:00  1.51
2021-12-31 15:00:00  1.51
2021-12-31 16:00:00  1.51
2021-12-31 17:00:00  1.51

[400 rows x 1 columns]

### –î–∞–Ω–Ω—ã–µ –û–¢–ö –ø–æ –ø–ª–æ—Ç–Ω–æ—Å—Ç—è–º —Ç–≤–µ—Ä–¥–æ–≥–æ –∏ –ø–∏—Ç–∞–Ω–∏—è –∞–≤—Ç–æ–∫–ª–∞–≤–∞¬∂

In [25]:
path_19 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\Nikitos19.xlsx"
path_20 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\Nikitos20.xlsx"
path_21 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\Nikitos21.xlsx"

ds_19 = pd.read_excel(path_19, sheet_name='AC104', usecols='B:D', index_col=0, parse_dates=True)
ds_20 = pd.read_excel(path_20, sheet_name='AC104', usecols='B:D', index_col=0, parse_dates=True)
ds_21 = pd.read_excel(path_21, sheet_name='AC104', usecols='B:D', index_col=0, parse_dates=True)

In [26]:
ds_full = pd.concat([ds_19, ds_20, ds_21])

In [27]:
assert(ds_19.shape[0] + ds_20.shape[0] + ds_21.shape[0] == ds_full.shape[0])

In [28]:
ds_full = ds_full.apply(pd.to_numeric, errors='coerce')

In [29]:
ds_full_1h = ds_full.resample('H', convention='start').first()

In [30]:
ds_full_1h.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 33133 entries, 2019-01-01 07:00:00 to 2022-10-12 19:00:00
Freq: H
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   D(S)    1661 non-null   float64
 1   D(SL)   1399 non-null   float64
dtypes: float64(2)
memory usage: 776.6 KB

### –§–∏–Ω–∞–ª—å–Ω—ã–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ –º–∞—Å—Å–∏–≤–æ–≤ –¥–∞–Ω–Ω—ã—Ö¬∂

In [31]:
print(f'–ù–∞—á–∞–ª—å–Ω–∞—è –¥–∞—Ç–∞: {min_date}, –∫–æ–Ω–µ—á–Ω–∞—è –¥–∞—Ç–∞: {max_date}.')

print(f'–î–∞–Ω–Ω—ã–µ –∞–≤—Ç–æ–∫–ª–∞–≤–∞ –æ—Ç: {df_ac_1h.index.min()} –¥–æ {df_ac_1h.index.max()}')
print(f'–î–∞–Ω–Ω—ã–µ –±–∞–∫–æ–≤ –ø–∏—Ç–∞–Ω–∏—è –æ—Ç: {df_chem_in_1h.index.min()} –¥–æ {df_chem_in_1h.index.max()}')
print(f'–î–∞–Ω–Ω—ã–µ –ø–æ –∂–µ–ª–µ–∑—É 2+ –æ—Ç: {df_chem_fe2_1h.index.min()} –¥–æ {df_chem_fe2_1h.index.max()}')
print(f'–î–∞–Ω–Ω—ã–µ –ø–æ –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏ –≤ –±–∞–∫–∞—Ö –ø–∏—Ç–∞–Ω–∏—è –æ—Ç: {ds_full_1h.index.min()} –¥–æ {ds_full_1h.index.max()}')


print(f'–ß–∏—Å–ª–æ —Ç–æ—á–µ–∫ –ø–æ –∞–≤—Ç–æ–∫–ª–∞–≤—É {len(df_ac_1h)}, –ø–æ –±–∞–∫–∞–º –ø–∏—Ç–∞–Ω–∏—è {len(df_chem_in_1h)}, –ø–æ –∂–µ–ª–µ–∑—É {len(df_chem_fe2_1h)} –∏ –ø–æ –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏ {len(ds_full_1h)}')

–ù–∞—á–∞–ª—å–Ω–∞—è –¥–∞—Ç–∞: 2019-01-01 00:00:00, –∫–æ–Ω–µ—á–Ω–∞—è –¥–∞—Ç–∞: 2021-12-31 17:00:00.
–î–∞–Ω–Ω—ã–µ –∞–≤—Ç–æ–∫–ª–∞–≤–∞ –æ—Ç: 2019-01-01 00:00:00 –¥–æ 2021-12-31 17:00:00
–î–∞–Ω–Ω—ã–µ –±–∞–∫–æ–≤ –ø–∏—Ç–∞–Ω–∏—è –æ—Ç: 2019-01-01 00:00:00 –¥–æ 2021-12-31 17:00:00
–î–∞–Ω–Ω—ã–µ –ø–æ –∂–µ–ª–µ–∑—É 2+ –æ—Ç: 2019-01-01 00:00:00 –¥–æ 2021-12-31 17:00:00
–î–∞–Ω–Ω—ã–µ –ø–æ –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏ –≤ –±–∞–∫–∞—Ö –ø–∏—Ç–∞–Ω–∏—è –æ—Ç: 2019-01-01 07:00:00 –¥–æ 2022-10-12 19:00:00
–ß–∏—Å–ª–æ —Ç–æ—á–µ–∫ –ø–æ –∞–≤—Ç–æ–∫–ª–∞–≤—É 24623, –ø–æ –±–∞–∫–∞–º –ø–∏—Ç–∞–Ω–∏—è 26298, –ø–æ –∂–µ–ª–µ–∑—É 26298 –∏ –ø–æ –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏ 33133

In [32]:
file_save(df_ac_1h, WORK_DIR, 'df_ac_1h')

In [33]:
file_save(df_chem_in_1h, WORK_DIR, 'df_chem_in_1h')

In [34]:
file_save(df_chem_fe2_1h, WORK_DIR, 'df_chem_fe2_1h')

In [35]:
file_save(ds_full_1h, WORK_DIR, 'ds_full_1h')

–ó–∞–≥—Ä—É–∑–∏–º —Ä–∞–Ω–µ–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, –µ—Å–ª–∏ –Ω–µ –∏–∑–º–µ–Ω–µ–Ω–∏–π —Ä–∞–Ω–µ–µ

In [36]:
df_ac_1h = pd.read_csv(f'{WORK_DIR}\df_ac_1h.zip', index_col=0, parse_dates=True)
df_chem_in_1h = pd.read_csv(f'{WORK_DIR}\df_chem_in_1h.zip', index_col=0, parse_dates=True)
df_chem_fe2_1h = pd.read_csv(f'{WORK_DIR}\df_chem_fe2_1h.zip', index_col=0, parse_dates=True)

### –û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É

In [37]:
df1 = df_ac_1h.merge(df_chem_in_1h, how='inner', left_index=True, right_index=True)
df1 = df1.merge(df_chem_fe2_1h, how='inner', left_index=True, right_index=True)
df1 = df1.merge(ds_full_1h, how='inner', left_index=True, right_index=True)

In [38]:
df1.info()
df1.head(100)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24616 entries, 2019-01-01 07:00:00 to 2021-12-31 17:00:00
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   320PU108M01         24616 non-null  float64
 1   320PU222M01         24616 non-null  float64
 2   320RC104DIC02       24616 non-null  float64
 3   330AC104FI06        24616 non-null  float64
 4   330AC104FI07        24616 non-null  float64
 5   330AC104FI08        24616 non-null  float64
 6   330AC104FI09        24616 non-null  float64
 7   330AC104FI10        24616 non-null  float64
 8   330AC104FI51        24616 non-null  float64
 9   330AC104FI52        24616 non-null  float64
 10  330AC104FIC40       24616 non-null  float64
 11  330AC104FICZ01      24616 non-null  float64
 12  330AC104FICZ02      24616 non-null  float64
 13  330AC104FICZ03      24616 non-null  float64
 14  330AC104FICZ04      24616 non-null  float64
 15  330AC104FICZ05      24616 non-null  float64
 16  330AC104LICZ01      24616 non-null  float64
 17  330AC104LICZ01.1    24616 non-null  float64
 18  330AC104LICZ01.2    24616 non-null  float64
 19  330AC104PI64        24616 non-null  float64
 20  330AC104PI65        24616 non-null  float64
 21  330AC104PIC63A      24616 non-null  float64
 22  330AC104PIC63A.1    24616 non-null  float64
 23  330AC104PIZ6        24616 non-null  float64
 24  330AC104TIC01       24616 non-null  float64
 25  330AC104TIC02       24616 non-null  float64
 26  330AC104TIC03       24616 non-null  float64
 27  330AC104TIC04       24616 non-null  float64
 28  330AC104TIC05       24616 non-null  float64
 29  330AC104TIZ61       24616 non-null  float64
 30  330PT107PIZ01       24616 non-null  float64
 31  330TK107LIC01       24616 non-null  float64
 32  330TK107PI11        24616 non-null  float64
 33  330TK107TI03        24616 non-null  float64
 34  330TK107TIC02       24616 non-null  float64
 35  330TK108LIC01       24616 non-null  float64
 36  330TK108PI02        24616 non-null  float64
 37  330TK108TIC02       24616 non-null  float64
 38  380HX107FIC01       24616 non-null  float64
 39  380HX107LIC0        24616 non-null  float64
 40  380HX107PIC03       24616 non-null  float64
 41  OXYGEN/OxyPurity    24616 non-null  float64
 42   OXYGEN/OxyPurityB  24616 non-null  float64
 43  Fe                  1101 non-null   float64
 44  Stot                1221 non-null   float64
 45  SO4                 284 non-null    float64
 46  As                  1106 non-null   float64
 47  Corg                1211 non-null   float64
 48  Ctot                1217 non-null   float64
 49  Fe2+                24616 non-null  float64
 50  D(S)                1598 non-null   float64
 51  D(SL)               1338 non-null   float64
dtypes: float64(52)
memory usage: 10.0 MB

,320PU108M01,320PU222M01,320RC104DIC02,330AC104FI06,330AC104FI07,330AC104FI08,330AC104FI09,330AC104FI10,330AC104FI51,330AC104FI52,...,OXYGEN/OxyPurityB,Fe,Stot,SO4,As,Corg,Ctot,Fe2+,D(S),D(SL)
2019-01-01 07:00:00,39.462222,0.0,1599.542706,16.330055,29.556427,16.013472,0.798045,0.0,5314.155549,62.697592,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.12,3900.0,1625.0
2019-01-01 08:00:00,37.424444,0.0,1599.383951,16.726346,28.845586,14.337465,0.650660,0.0,5191.722007,60.557992,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,NaN
2019-01-01 09:00:00,39.504444,0.0,1599.549900,15.932027,29.089164,14.253240,0.628135,0.0,5305.890224,59.910129,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,NaN
2019-01-01 10:00:00,39.457222,0.0,1599.649969,16.308161,29.520459,15.951309,0.714080,0.0,5307.226181,62.492149,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,NaN
2019-01-01 11:00:00,39.466667,0.0,1599.581306,16.162954,29.412535,15.971765,0.735621,0.0,5312.830951,62.280596,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-05 06:00:00,0.000000,0.0,1619.702106,0.000000,0.028935,-0.017361,0.002894,0.0,-1.007729,0.014468,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.89,NaN,NaN
2019-01-05 07:00:00,0.000000,0.0,1619.920329,0.000048,0.028935,-0.017361,0.002894,0.0,-1.515648,0.014492,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.89,3900.0,NaN
2019-01-05 08:00:00,0.000000,0.0,1620.435455,0.000024,0.028935,-0.017361,0.002894,0.0,-1.447272,0.014492,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.89,NaN,NaN
2019-01-05 09:00:00,0.000000,0.0,1620.779462,0.000024,0.028935,-0.017361,0.002894,0.0,-1.548905,0.014492,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.89,NaN,NaN
2019-01-05 10:00:00,0.000000,0.0,1621.299502,0.000000,0.028935,-0.017361,0.002894,0.0,-1.421471,0.014468,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.89,NaN,NaN

–°–¥–≤–∏–Ω–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ ùêπùëí2+ –Ω–∞ 2 —á–∞—Å–∞ –Ω–∞–∑–∞–¥.

In [39]:
df1['Fe2+'] = df1['Fe2+'].shift(-2)

In [40]:
df1.head()

,320PU108M01,320PU222M01,320RC104DIC02,330AC104FI06,330AC104FI07,330AC104FI08,330AC104FI09,330AC104FI10,330AC104FI51,330AC104FI52,...,OXYGEN/OxyPurityB,Fe,Stot,SO4,As,Corg,Ctot,Fe2+,D(S),D(SL)
2019-01-01 07:00:00,39.462222,0.0,1599.542706,16.330055,29.556427,16.013472,0.798045,0.0,5314.155549,62.697592,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,3900.0,1625.0
2019-01-01 08:00:00,37.424444,0.0,1599.383951,16.726346,28.845586,14.337465,0.650660,0.0,5191.722007,60.557992,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,NaN
2019-01-01 09:00:00,39.504444,0.0,1599.549900,15.932027,29.089164,14.253240,0.628135,0.0,5305.890224,59.910129,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,NaN
2019-01-01 10:00:00,39.457222,0.0,1599.649969,16.308161,29.520459,15.951309,0.714080,0.0,5307.226181,62.492149,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.78,NaN,NaN
2019-01-01 11:00:00,39.466667,0.0,1599.581306,16.162954,29.412535,15.971765,0.735621,0.0,5312.830951,62.280596,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.78,NaN,NaN

In [41]:
file_save(df1, WORK_DIR, 'df_total_ds_1h')